* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 60%;
    padding-top: 4rem;
    padding-bottom: 4rem;

}




/*utilities*/




.log_in {
    padding-top: 20px;

    button {
        padding: 0.5rem 0.5rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-width: 0;

    }
}

header {
    padding: 0.5rem 1rem;
    background-color: #3161e0;

}


.container_footer {

    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    margin: auto;
    width: 60%;

}

.container_f3 {

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    margin: auto;
    width: 60%;

}

.container_f2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.head_page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 60%;
}

.debug {
    border: 1px dashed;

    header {
        background-color: blue;
        height: 75px;
    }

    /*debug header*/

    .container {
        border: 1px dashed;
        background-color: brown;

    }

    .container_reverse {
        border: 1px dashed;
        background-color: brown;

    }

    main {
        background-color: yellow;
    }



    .left {

        background-color: blue;
        padding-top: 250px;
        padding-right: 700px;
    }

    .playsolder {
        background-color: blue;
        padding-top: 250px;
        padding-right: 500px;

    }

    /*debug main*/


    footer {
        background-color: aquamarine;
    }

    .playsolder_icon {
        display: flex;
        flex-direction: row;


    }

    .icon {
        padding-top: 25px;
        padding-right: 25px;
        background-color: chartreuse;
        margin-right: 4%;
        border: 1px dashed;



    }

    .container_footer {
        background-color: cornflowerblue;

    }

    .container_f3 {
        background-color: cornflowerblue;
    }
}

.jumbodrone {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 220px;

}

.jumbodrone .container {
    padding-top: 50px;

    h1 {
        color: white;
        font-size: 3rem;
    }

    p {
        color: white;
        padding-top: 20px;
        font-size: 1.2rem;

    }

    .download_mac {
        padding: 0.5rem 0.5rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-width: 0;
        font-size: 1.2rem;
        color: black;
    }

    .browser {
        padding: 0.5rem 0.5rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-width: 0;
        color: white;
        font-size: 1.2rem;
        background-color: black;
    }

}

.right {
    h2{
        font-size: 2.2rem;
    }
    p{
        padding-top: 1rem;
        
        
    }
}

.left {
    padding-right: 3rem;

    h2{
        font-size: 2.2rem;
    }
    p{
        padding-top: 1rem;
        
        
    }
    
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-top: 20px;

    a {
        color: white;
        text-decoration: none;
        padding-right: 1rem;
    }
}



.title {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;

    h2 {
        padding-bottom: 1rem;
        font-size: 2rem;
    }

    p {
        padding-bottom: 1rem;
    }

    button {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

}


.container_reverse {

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 60%;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .left{
        padding-left: 2rem;
    }
    .right{
        font-size: 1.2rem;
    }

}

.container_tecnology{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    button{
        background-color: #8ea1e1;
        border: 0px;
        padding: 0.8rem;
        border-radius: 20px;
        color: white;
    }
}
.adventure{
    display: flex;
    margin: 0 100px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    p{
        padding-top: 2rem;
        font-size: 1.5rem;
    }
    
}